/* Style général pour le body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #DDD0C8;
    color:#323232;
}

/* Style pour le header */
header {
    color: white; 
    text-align: center;
}

/* Style pour le menu */
nav ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Centre verticalement tous les éléments dans le menu */
    background-color: #DDD0C8;
}

.logo {
    width: 150px; /* Ajustement de la taille du logo */
    height: auto;
    margin-right: 20%;
    vertical-align: middle; /* Aligne l'image avec le texte */
    display: inline-block; 
}

nav ul li {
    margin: 0 4em;
}

nav a {
    text-decoration: none;
    color: #323232;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

/* Rendre le menu "intéractif" lorsque qu'on passe dessus*/
nav a:hover {
    text-decoration: underline;
}

/* Style pour le footer*/
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333; 
    color: white;
    margin-top: 2em;
}


h1 {
    text-align: center;
}

.image_test {
    background: red;
    width: 200px;
    height: 200px;
}

.main_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0 0 0;
}