/* Style général pour le body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #DDD0C8;
    color:#323232;
}

/* Style pour le header */
header {
    background-color: black;
    color: white; 
    text-align: center;
    padding-top: 0.1em;
}

/* Style pour le menu */
nav ul {
    padding: 20px 50px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Centre verticalement tous les éléments dans le menu */
    background-color: #DDD0C8;
}

.logo {
    width: 150px; /* Ajustement de la taille du logo */
    height: auto;
    margin-right: 20px;
    vertical-align: middle; /* Aligne l'image avec le texte */
    display: inline-block; 
}

nav ul li {
    margin: 0 4em;
}

nav a {
    text-decoration: none;
    color: #323232;
    font-weight: bold;
}

/* Rendre le menu "intéractif" lorsque qu'on passe dessus*/
nav a:hover {
    text-decoration: underline;
}

/* Style pour le footer*/
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333; 
    color: white;
    margin-top: 2em;
}