/* Style général pour le body */
body {
    background-color: #DDD0C8;
    color:#323232;
    font-family: Arial, sans-serif;
}

/* Style pour le header */
header {
    color: white; 
}

/* Style pour le menu */
nav ul {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Centre verticalement tous les éléments dans le menu */
    background-color: #DDD0C8;
}

.logo {
    width: 150px; /* Ajustement de la taille du logo */
    height: auto;
    margin-right: 20%;
    vertical-align: middle; /* Aligne l'image avec le texte */
    display: inline-block; 
}

nav ul li {
    margin: 0 4em;
}

nav a {
    text-decoration: none;
    color: #323232;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

/* Rendre le menu "intéractif" lorsque qu'on passe dessus*/
nav a:hover {
    text-decoration: underline;
}

/* Style pour le footer*/
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333; 
    color: white;
    margin-top: 2em;
}

/* Style pour expo */
h1 {
    text-align: center;
}

.image_test {
    background: url(Images/file-removebg-preview\ \(1\).png);
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
}

.image_test2 {
    background:url(Images/tintin.jpg);
    width: 230px;
    height: 300px;
    background-repeat: no-repeat;

}

.image_test3 {
    background: url(Images/Toutan.jpg);
    width: 300px;
    height: 225px;
    background-repeat: no-repeat;
    padding-right: 30px;
    border-radius: 2%;
}    

.image_test4 {
    background: url(Images/BD.jpg);
    width: 300x;
    height: 225px;
    background-repeat: no-repeat;
    padding-right: 300px;
    border-radius: 2%;
}   

.main_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 10px 0 0 0;
}

.main_text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 10px 0 0 0;
}